@import '../mixin.scss'
.card
    display: flex
    justify-content: space-between
    align-items: flex-start
    padding: 110px 0 0 0
    margin-bottom: 208px
    &_left
        width: calc(100vw - 969px )
        margin-left: 125px
        position: relative
    &_progress
        position: absolute
        bottom: 0px
        left: -15px
        right: -15px
        display: block
        width: calc(100% + 30px)
        height: 7px
        border-radius: 10px
        overflow: hidden
        background-color: #fff
        background-image: linear-gradient(to right, #B2B2B2, #B2B2B2)
        background-repeat: no-repeat
        background-size: 0 100%
        transition: background-size .4s ease-in-out
    &_right
        width: 450px // calc(100% - 1140px)
        // padding-left: 160px
        // padding-right: 80px
        // margin-right: 100px
        position: sticky
        right: 300px
        top: 105px
        height: calc(100vh - 160px)
        overflow-y: auto
        padding-left: 160px
        &::-webkit-scrollbar 
            width: 5px
        &::-webkit-scrollbar-track 
            box-shadow: inset 0 0 6px transparent //#F1F1F1
        &::-webkit-scrollbar-thumb 
            background-color: transparent //#A8A8A8
            outline: 1px solid transparent //slategrey
    &_name
        margin-bottom: 45px
        text-transform: uppercase
        font-size: 18px
        letter-spacing: 0.1em
    &_price
        font-size: 16px
        margin-bottom: 48px
    &_color
        margin-bottom: 21px
        &-title
            font-size: 14px
            margin-bottom: 12px
    &_colors
        display: flex
        align-items: center
        &-item
            width: 35px
            height: 35px
            border-radius: 50%
            margin-left: 15px
            cursor: pointer
            position: relative
            &:last-of-type(1)
                margin-right: 0                
            input
                position: absolute
                visibility: hidden
                user-select: none
                position: relative
                &:checked + span
                    display: inline-block
                    @include position-center
                    width: 35px
                    height: 35px
                    border-radius: 50%
                    border: 1px solid #353535
                    z-index: 3
    &_size
        margin-bottom: 44px
        &-title
            font-size: 14px
            margin-bottom: 10px
        &-items
            display: flex
        &-item
            width: 27px
            height: 27px
            margin-left: 15px
            margin-right: 5px
            cursor: pointer
            &:nth-last-of-type(1)
                margin-right: 0
        input
            position: absolute
            visibility: hidden
            user-select: none
            &:disabled + .card_size-text
                font-weight: 400
                &:before, &:after
                    opacity: 1  
                    visibility: visible
                    user-select: auto
            &:checked + .card_size-text
                font-weight: 700
        &-text
            font-size: 14px
            position: relative
            text-transform: uppercase
            @include center
            width: 27px
            height: 27px
            &:before, &:after
                content: ""
                @include position-center
                width: 1px
                height: 37px
                background: #353535
                opacity: 0
                visibility: hidden  
                user-select: none
            &:before
                transform: translate(-50%, -50%) rotate(-45deg)
            &:after
                transform: translate(-50%, -50%) rotate(45deg)
    &_btn
        display: flex
        margin-bottom: 50px
        .btn
            &:nth-child(1)
                width: 221px
                margin-right: 1px
                font-size: 13px
                text-transform: uppercase
                letter-spacing: 0.1em
    &_descr
        padding-left: 15px
        >p
            font-size: 12px
            line-height: 15px
            margin-bottom: 51px
        .accordion-content p
            font-size: 12px
            line-height: 1em
            margin-bottom: 5px
            
        &.accordion ul li 
            margin-bottom: 0
            &:nth-last-of-type(1)
                h2
                    border-bottom: 1px solid #DFDFDF
                .accordion-content 
                    border-top: 0
            .accordion-content 
                font-size: 12px
                line-height: 1em
                padding: 0 15px
                border-top: 1px solid #DFDFDF
                margin-top: 0
                padding-top: 0px
                >*
                    margin-top: 22px
                    margin-bottom: 22px
            i
                display: none
            h2
                padding: 13px 15px
                border-top: 1px solid #DFDFDF
                margin-bottom: 0



    &_images
        a
            margin-bottom: 28px
            display: block
    &_select
        font-size: 12px
        position: relative
        &:nth-of-type(1)
            .card_select-current
                border-right: unset
        &-current
            height: 55px
            border: 1px solid #909090
            display: flex
            justify-content: space-between
            align-items: center
            padding: 0 10px
            &.active
                border-top: 0
                background: #EEEEEE
                .card_select-img
                    img
                        &:nth-of-type(1)
                            display: none
                        &:nth-of-type(2)
                            display: block
        &-img
            width: 12px
            height: auto
            img
                width: 100%
                height: auto
                &:nth-of-type(2)
                    display: none
                    
        &-all
            position: absolute
            bottom: 100%
            left: 0
            right: 0
            width: 100%
            background: #fff
            @include center
            flex-direction: column
            border: 1px solid #909090
            opacity: 0
            visibility: hidden
            user-select: none
            &.active
                opacity: 1
                visibility: visible
                user-select: auto
            span
                padding: 10px 0
                width: 100%
                display: block
                text-align: center



.addtobasket
    display: none
    align-items: center
    position: fixed
    bottom: 0
    left: 0
    right: 0
    background: #fff
    z-index: 10
    &_color
        width: 25%
    &_size
        width: 15%
    &-btns
        display: flex
        align-items: center
        width: 60%
        .btn
            font-size: 10px
            height: 55px
            &:nth-of-type(1)
                margin-right: 1px
                width: calc(100% - 40px)
            &:nth-of-type(2)
                width: 40px
            

.tooltip
    position: absolute
    top: calc(-100% - 15px)
    left: 50%
    transform: translateX(-50%)
    background: rgba(68, 68, 68, 0.95)
    font-weight: 500
    font-size: 10px
    line-height: 12px
    text-align: center
    color: #fff
    height: 29px
    max-width: 150px
    width: max-content
    @include center
    padding: 8px 10px
    opacity: 0
    visibility: hidden
    user-select: none
    transition: 0.3s ease-in-out
    margin-top:  -10px
    &.active
        opacity: 1
        visibility: visible
        user-select: auto
        margin-top:  0px
    &:before
        content: ""
        position: absolute
        top: 100%
        left: 50%
        transform: translateX(-50%)
        border-left: 13px solid transparent
        border-right: 13px solid transparent
        border-top: 13px solid rgba(68, 68, 68, 0.95)


@media (max-width: 1440px)
    .card
        &_left
            width: calc(100vw - 809px)
        &_right
            right: 209px
@media (max-width: 1024px)
    .card
        &_left
            width: calc(100vw - 505px)
            padding: 0
            margin-left: 0
        &_right
            right: 25px
            padding-left: 30px

@media (max-width: 768px)
    .addtobasket
        display: flex
    .card
        flex-direction: column
        padding-top: 42px
        padding-bottom: 0
        margin-bottom: 100px
        &_left
            width: 100%
            margin-bottom: 30px
        &_right
            width: 100%
            height: auto
            padding-left: 0
        &_color, &_size, &_btn
            display: none
        &_descr
            padding-left: 0
        &_images
            padding: 0
            margin-left: -15px
            margin-right: -15px
            a
                margin-bottom: 0
                height: 100%
                display: block !important
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
        &_name
            margin-bottom: 20px
        &_price
            margin-bottom: 15px


@media (max-width: 568px)
    .card
        &_images
            a
                height: 450px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover