body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

body.overflow {
  overflow: hidden;
}
  
.maket {
  z-index: 10;
  opacity: 0.45;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  display: none;
}
    

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 25px;
}
    
    
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;

}

html, body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;

 
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
button:active,
button:hover,
button:focus,
input,
input:active,
input:hover,
input:focus,
textarea,
textarea:active,
textarea:hover,
textarea:focus {
  cursor: pointer;
  border: none;
  outline: none;
}
button,
button:active,
button:hover,
button:focus{
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

textarea {
  resize: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width: 768px) {
  .container{
    padding: 0 15px
  }
}
  